@tailwind base;
@tailwind components;
@tailwind utilities;

.links-container {
    height: 0;
    overflow: hidden;
    transition: all 0.7s linear;
  }
  .show-container {
    height: 100vh;
  }

  .mains{



    background: rgba(0,0,0,.2);
    box-shadow: inset 10rem 16rem 6rem #270082, inset -2rem -4rem 7rem #43f;
}

.mains::after{
    content: '';
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; */
    z-index: var(--z-index-s);
    background: rgba(0,0,0,.3);
    box-shadow: inset 2rem 2em 4rem #000, inset -10rem -2rem 12rem #5da;
}

.white-glassmorphism {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.8);
}


.neonP {
  /* animation: p 0.11s ease-in-out 10s infinite alternate; */
  border: 0.2rem solid #fff;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #3340b1,
    0 0 0.8rem #2729a8, 0 0 2.8rem #431cc2, inset 0 0 1.3rem #6765db;
}

@keyframes p {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 42px #0829be,
      0 0 82px #0d2bb1, 0 0 92px #0c28a8, 0 0 102px #092086, 0 0 151px #050d33;
  }
}

.neontext {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0829be,
    0 0 82px #0d2bb1, 0 0 92px #0c28a8, 0 0 102px #092086, 0 0 151px #050d33;
}
